/*
 Theme Name:   Hueman Child
 Theme URI:    http://polreskedirinews.com
 Description:  Hueman Child Theme
 Author:       Taufik Fredi Pratama
 Author URI:   http://taufikfredipratama.info
 Template:     hueman
 Version:      1.1.0
 Text Domain:  hueman-child
 */


#webticker-wrapper {
	height: 40px;
	background-color: #000000;
}

ul#webticker li {
	padding: 0 20px;
	font-weight: bold;
}

ul#webticker li:hover {
	border-bottom: 1px solid #ffffff;
}

.breaking-news-title {
	float: left;
	padding: 8px 20px 0 20px;
	font-weight: 700;
	color: #ffffff;
}

.breaking-news-date {
	font-style: italic;
	font-size: 14px;
	color: #A6A6A6;
	text-transform:capitalize;
}

.tickercontainer .mask {
	height: 24px;
}

/* Large Devices */
@media (min-width: 993px) and (max-width: 1200px) {
	
	.tickercontainer {/* the outer div */
		width: 85%;
	}
	
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 992px) {
	
	.tickercontainer {/* the outer div */
		width: 80%;
	}
 	
}

/* Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
	
	.tickercontainer {/* the outer div */
		width: 75%;
	}
	
}

/* Extra Small Devices */
@media only screen and (max-width: 480px){
	
	.tickercontainer {/* the outer div */
		width: 60%;
	}
	
}
